*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.9);
}

/*
    HEADER
*/
#head{
    height: 60px;
}

#header{
    width: 100%;
    height: 70px;
    background-color: black;
    position: fixed;
    top: 0px;
    z-index: 100;
}

#header #logo img{
    width: 13%;
    height: 90px;
    position: absolute;
    top: -10px;
    margin-left: 20px;
}

#header #form{
    width: 95%;
    position: absolute;
    /* border: 1px solid white; */
    right: 0;
    margin-right: 50px;
}

#header #form h4{
    right: 0;
    /* border: 1px solid white; */
    position: absolute;
    color: white;
    margin-right: 10%;
    margin-top: 25px;
    font-family:sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 100;
}

#header #form button{
    right: 0;
    border: 1px solid white;
    position: absolute;
    margin-top: 15px;
    margin-right: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
}


#header #form #signin{
    border-radius: 2px;
    position: absolute;
    background-color: black;
    width: 7%;
    color: white;
    height: 35px;
    font-size: 12px;
    margin-right: 30px;
    /* border-color: rgba(192, 40, 40, 0.95); */
    border-color: gray;
}

#header #form #signin a{
    text-decoration: none;
    color: white;
}

/*
    MESSAGE
*/


#message{
    color: white;
    position: absolute;
    left: 0;
    margin-top: 100px;
    /* width: 680px; */
    width: 700px;
    line-height: 20px;
    margin-left: 43px;
    word-spacing: 2px;
    /* font-size: 30px; */
    /* border: 1px solid white; */
}

#message #title{
    font-size: 300%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-weight: 900;
}

#message p{
    margin-top: 35px;
    letter-spacing: 1px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    /* font-size: 115%; */
    font-size: 1.2em;
    font-weight: 400;
}

/*
    POPULAR ANIME SLIDER
*/

#popular-anime{
    position: relative;
    margin-top: 250px;
    width: 94%;
    height: 300px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#popular-anime h2{
    position: absolute;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    width: 310px;
    color: white;
    top: 0;
}

#popular-anime #anime-slide{
    position: absolute;
    width: 100%;
    height: 220px;
    margin-top: 20px;
}

#popular-anime #anime-slide::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    z-index: 3;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(90deg, black, transparent);
}

#popular-anime #anime-slide::after{
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    z-index: 3;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(-90deg, black, transparent);
}

#popular-anime #anime-slide #anime-poster{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
    overflow: hidden;
}

#popular-anime #anime-slide #anime-poster .child{
    margin: 1px 10px;
    height: 220px;
    min-width: 350px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

#popular-anime #anime-slide #anime-poster::-webkit-scrollbar{
    -webkit-appearance: none;
}

#popular-anime #anime-slide #anime-poster .child img{
    width: 100%;
}

#popular-anime #anime-slide #anime-poster .child h6{
    position:absolute;
    width: 100%;
    /* z-index: 4; */
    text-align: center;
    top: 0;
    margin-top: 198px;
    color: white;
    /* border: 1px solid white; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 15px;   
}

.icon{
    position: relative;
    color: red;
    background-color: transparent;
    width: 50px;
    height: 100px;
    outline: none;
    z-index: 4;
    border: none;
    cursor: pointer;
   font-size: 20px;

}

.icon i{
    height: 500px;
    width: 500px;
}

.icon:hover{
    color: white;
}


/*
    INTERNATIONAL MOVIE
*/

#International-anime{
    position: relative;
    margin-top: 70px;
    width: 94%;
    height: 300px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#International-anime h2{
    position: absolute;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    width: 310px;
    color: white;
    top: 0;
}

#International-anime #anime-slide{
    position: absolute;
    width: 100%;
    height: 220px;
    margin-top: 20px;
}

#International-anime #anime-slide::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    z-index: 3;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(90deg, black, transparent);
}

#International-anime #anime-slide::after{
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    z-index: 3;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(-90deg, black, transparent);
}

#International-anime #anime-slide #International-movie{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
    overflow: hidden;
}

#International-anime #anime-slide #International-movie .child{
    margin: 1px 10px;
    height: 220px;
    min-width: 350px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

#International-anime #anime-slide #International-movie::-webkit-scrollbar{
    -webkit-appearance: none;
}

#International-anime #anime-slide #International-movie .child img{
    width: 100%;
}

#International-anime #anime-slide #International-movie .child h6{
    position:absolute;
    width: 100%;
    z-index: 4;
    text-align: center;
    top: 0;
    margin-top: 198px;
    color: white;
    /* border: 1px solid white; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 15px;   
}


/*
    INTERNATIONAL TV SHOWS 
*/



#International-tv-shows{
    position: relative;
    margin-top:70px;
    width: 94%;
    height: 300px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#International-tv-shows h2{
    position: absolute;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    width: 310px;
    color: white;
    top: 0;
}

#International-tv-shows #anime-slide{
    position: absolute;
    width: 100%;
    height: 220px;
    margin-top: 20px;
}

#International-tv-shows #anime-slide::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    z-index: 3;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(90deg, black, transparent);
}

#International-tv-shows #anime-slide::after{
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    z-index: 3;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(-90deg, black, transparent);
}

#International-tv-shows #anime-slide #International-tv-shows-anime{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
    overflow: hidden;
}

#International-tv-shows #anime-slide #International-tv-shows-anime .child{
    margin: 1px 10px;
    height: 220px;
    min-width: 350px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

#International-tv-shows #anime-slide #International-tv-shows-anime::-webkit-scrollbar{
    -webkit-appearance: none;
}

#International-tv-shows #anime-slide #International-tv-shows-anime .child img{
    width: 100%;
}

#International-tv-shows #anime-slide #International-tv-shows-anime .child h6{
    position:absolute;
    width: 100%;
    /* z-index: 200; */
    text-align: center;
    top: 0;
    margin-top: 198px;
    color: white;
    /* border: 1px solid white; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 15px;   
}

.Imicon{
    position: relative;
    color: red;
    background-color: transparent;
    width: 50px;
    height: 100px;
    outline: none;
    z-index: 100;
    border: none;
    cursor: pointer;
   font-size: 20px;

}

.Imicon i{
    height: 500px;
    width: 500px;
}

.Imicon:hover{
    color: white;
}

/*
    AWARD WINNING FILMS
*/


#International-anime{
    position: relative;
    margin-top: 70px;
    width: 94%;
    height: 300px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#International-anime h2{
    position: absolute;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    width: 310px;
    color: white;
    top: 0;
}

#International-anime #anime-slide{
    position: absolute;
    width: 100%;
    height: 220px;
    margin-top: 20px;
}

#International-anime #anime-slide::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    z-index: 3;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(90deg, black, transparent);
}

#International-anime #anime-slide::after{
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    z-index: 3;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(-90deg, black, transparent);
}

#International-anime #anime-slide #International-movie{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
    overflow: hidden;
}

#International-anime #anime-slide #International-movie .child{
    margin: 1px 10px;
    height: 220px;
    min-width: 350px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

#International-anime #anime-slide #International-movie::-webkit-scrollbar{
    -webkit-appearance: none;
}

#International-anime #anime-slide #International-movie .child img{
    width: 100%;
}

#International-anime #anime-slide #International-movie .child h6{
    position:absolute;
    width: 100%;
    /* z-index: 200; */
    text-align: center;
    top: 0;
    margin-top: 198px;
    color: white;
    /* border: 1px solid white; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 15px;   
}


/*
    INTERNATIONAL TV SHOWS 
*/



#Award-Winning-Films{
    position: relative;
    margin-top:70px;
    width: 94%;
    height: 300px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#Award-Winning-Films h2{
    position: absolute;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    width: 310px;
    color: white;
    top: 0;
}

#Award-Winning-Films #anime-slide{
    position: absolute;
    width: 100%;
    height: 220px;
    margin-top: 20px;
}

#Award-Winning-Films #anime-slide::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    z-index: 3;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(90deg, black, transparent);
}

#Award-Winning-Films #anime-slide::after{
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    z-index: 3;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(-90deg, black, transparent);
}

#Award-Winning-Films #anime-slide #Award-Winning-Films-anime{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
    overflow: hidden;
}

#Award-Winning-Films #anime-slide #Award-Winning-Films-anime .child{
    margin: 1px 10px;
    height: 220px;
    min-width: 350px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

#Award-Winning-Films #anime-slide #Award-Winning-Films-anime::-webkit-scrollbar{
    -webkit-appearance: none;
}

#Award-Winning-Films #anime-slide #Award-Winning-Films-anime .child img{
    width: 100%;
}
#Award-Winning-Films #anime-slide #Award-Winning-Films-anime .child h6{
    position:absolute;
    width: 100%;
    /* z-index: 200; */
    text-align: center;
    top: 0;
    margin-top: 198px;
    color: white;
    /* border: 1px solid white; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 15px;   
}

.Imicon{
    position: relative;
    color: red;
    background-color: transparent;
    width: 50px;
    height: 100px;
    outline: none;
    z-index: 100;
    border: none;
    cursor: pointer;
   font-size: 20px;

}

.Imicon i{
    height: 500px;
    width: 500px;
}

.Imicon:hover{
    color: white;
}


/*
    DARK FANTASY ANIME
*/


#Dark-fantasy{
    position: relative;
    margin-top:70px;
    width: 94%;
    height: 300px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#Dark-fantasy h2{
    position: absolute;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    width: 310px;
    color: white;
    top: 0;
}

#Dark-fantasy #anime-slide{
    position: absolute;
    width: 100%;
    height: 220px;
    margin-top: 20px;
}

#Dark-fantasy #anime-slide::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    z-index: 3;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(90deg, black, transparent);
}

#Dark-fantasy #anime-slide::after{
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    z-index: 3;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(-90deg, black, transparent);
}

#Dark-fantasy #anime-slide #Dark-fantasy-anime{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
    overflow: hidden;
}

#Dark-fantasy #anime-slide #Dark-fantasy-anime .child{
    margin: 1px 10px;
    height: 220px;
    min-width: 350px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

#Dark-fantasy #anime-slide #Dark-fantasy-anime::-webkit-scrollbar{
    -webkit-appearance: none;
}

#Dark-fantasy #anime-slide #Dark-fantasy-anime .child img{
    width: 100%;
}
#Dark-fantasy #anime-slide #Dark-fantasy-anime .child h6{
    position:absolute;
    width: 100%;
    /* z-index: 200; */
    text-align: center;
    top: 0;
    margin-top: 198px;
    color: white;
    /* border: 1px solid white; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 15px;   
}


/*
    MESSAGE SECTION

*/
#parent{
    width: 100%;
    height: 400px;
    margin-top: 60px;
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;    
    position: relative;
}

#parent #message{
    position: relative;
    width: 92%;
    height: 300px;
}

#parent #message h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 60px;
    position: absolute;
    margin: 50px;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.9);
}

#parent #message p{
    position: absolute;
    margin-top: 100px;
    margin-left: 55px;
    font-family: 'Courier New', Courier, monospace;
    font-family: 50px;
    width: 700px;
    line-height: 20px;
    justify-content: end;
    font-size: 20px;
}

#parent #message span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.9);
    font-size: 23px;
    line-height: 50px;
}

#parent #message img{
    position: absolute;
    right: 0;
    top: -180px;
    display: block;
}



/*footer*/


#footer{
    width: 100%;
    height: 250px;
    position: relative;
}

footer img{
    width: 15%;   
    margin-left: 60px;
    margin-top: 90px;
}

/*
    FOOTER DETAILS
*/
#footer #details{
    position: relative;
    height: 100%;
    top: 0;
    width: 200px;
    margin-left: 60px;
    /* border: 1px solid white; */
}

#footer #details ul{
    position: absolute;
    text-align: left;
    margin-left: 40px;
    margin-top: 10px;
}
#footer #details ul li{
    list-style: none;
    margin-top: 25px;
    font-family:sans-serif;
    color: gray;
    font-size: 13px;
}

#footer #details ul li a{
    text-decoration: none;
    color: gray;
    font-family:sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
}

/*
    CONTACTS
*/

#footer #contacts{
    top: 0;
    position: absolute;
    height: 100%;
    margin-left: 60px;
}

#footer #contacts ul{
    width: 200px;
    position: absolute;
    text-align: left;   
    margin-left: 320px;
    margin-top: 10px;
}
#footer #contacts ul li{
    list-style: none;
    margin-top: 25px;
}

#footer #contacts ul li a{
    text-decoration: none;
    color: gray;
    font-family:sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
}

/*
    ABOUT US
*/


#footer #about{
    top: 0;
    position: absolute;
    height: 100%;
    margin-left: 60px;
}

#footer #about ul{
    width: 200px;
    position: absolute;
    text-align: left;   
    margin-left: 580px;
    margin-top: 10px;
}
#footer #about ul li{
    list-style: none;
    margin-top: 25px;
}

#footer #about ul li a{
    text-decoration: none;
    color: gray;
    font-family:sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
}


/*
    SOCIAL MEDIA
*/
#footer #social-media{
    position: absolute;
    width: 33%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    right: 0;
    top: -5px;
    margin-right: 95px;
}

#footer #social-media .logo{
    width: 100%;
    height: 100%;
}

#footer #social-media .logo img{
    height: 30px;
    width: 40%;
}

/*
    HORIZONTAL LINE
*/

#footer hr{
    position: absolute;
    right: 0;
    top: 0;
    width: 33%;
    margin-top: 130px;
    margin-right: 50px;
}

#footer #developer{
    position: absolute;
    top: 0;
    right: 0;
    width: 33%;
    margin-top: 130px;
    height: 30px;
    margin-right: 50px;
    display: flex;
    text-align: center;
}

#footer #developer h6{
    position: absolute;
    color: gray;
    letter-spacing: 5px;
    top: 25%;
    width: 100%;
    height: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* #footer #developer{
    border: 1px solid white;
    position: absolute;
    right: 0;
    top: 0;
    width: 33%;  
    margin-right: 95px;  
    margin
} */


/*
    UTILITIES
*/
#header #form #joinnow:hover{
    background-color: rgb(255, 0, 5);
    cursor: pointer;
}

#header #form #signin:hover{
    background-color: rgba(48, 42, 42, 0.9);
    cursor: pointer;
}

#subscribe #text button:hover{
    background-color: rgb(255, 0, 5);
    cursor: pointer;
}

#footer ul li:hover{
    cursor: pointer;
    text-decoration: underline;
    color: gray;
}

#Anime-show #anime section a{
    text-decoration: none;
}


/*
    UTILITIES
*/
#header #form #signin:hover{
    background-color: rgba(48, 42, 42, 0.9);
    cursor: pointer;
}