*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

#images{
    background-image: url(gallery/Untitled\ design.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 740px;
}
#body::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 0;
}

#body #head{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.2);
}


#body #head #logo img{
    position: absolute;
    top: -100px;    
    width: 250px;
    margin: 10px 20px;
    z-index: 5;
}

#body #head #btn{
    position: absolute;
    right: 0;
    margin: 20px 70px;
    z-index: 2;
}

#body #head #btn button{
    background-color: red;
    width: 100px;
    height: 40px;
    border-radius: 3px;
}

#body #head #btn button a{
    color: white;
    text-decoration: none;
}

/*
    SUBSCRIBING SECTION
*/

#body-main{
    position: relative;
    width: 100%;
    height: 648px;
}

#Subscribing{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    width: 600px;
    height: 350px;
}

#Subscribing #text{
    position: relative;
    color: white;
}

#Subscribing #text h2{
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#Subscribing #text h4{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    top: 120px;
}

#Subscribing #input{
    margin-top: 60px;
    position: absolute;
    width: 100%;
    text-align: center;
    height: 120px;
}

#Subscribing #input h5{
    position: absolute;
    color: white;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    width: 100%;
    top: 30px;
}

#Subscribing #input #subscribe{
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

#Subscribing #input #subscribe input{
    position: absolute;
    left: 0;
    height: 100%;
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

#Subscribing #input #subscribe input::placeholder{
    position: absolute;
    margin: 12px;
    font-size: 18px;
}

#Subscribing #input #subscribe button{
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: red;
}

#Subscribing #input #subscribe button a{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

/*
    DETAILS SECTION
*/

#details{
    position: relative;
    border-top: 5px solid grey;
    width: 100%;
    height: 430px;
    background-color: black;
    color: white;
}

#details #text{
    position: relative;
    height: 27px;
    width: 45%;
    color: white;
    margin-top: 120px;
    margin-left: 20px;
}

#details #text h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    width: 100%;
    text-align: center;
}

#details #text h4{
    position: absolute;
    top: 0;
    margin-top: 70px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 400;
    width: 80%;
    text-align: start;
    margin-left: 120px;
}

#details img{
    position: absolute;
    right: 0;
    margin-top: 30px;
    margin-right: 50px;
}

/*
    MOBILE DOWNLOAD
*/


#download{
    position: relative;
    border-top: 5px solid gray;
    width: 100%;
    height: 430px;
    background-color: black;
}

#download img{
    height: 380px;
    margin-left: 30px;
}

#download #text{
    position: absolute;
    color: white;
    top: 0;
    right: 0;
    height: 27px;
    width: 45%;
    color: white;
    margin-top: 100px;
    margin-right: 80px;
}

#download #text h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    width: 100%;
    text-align: start;
}

#download #text h4{
    position: absolute;
    top: 0;
    margin-top: 120px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 400;
    width: 80%;
    text-align: start;
}
/*
    TEXT
*/
#text2{
    background-color: black;
    border-top: 5px solid gray;
    color: white;
    height: 300px;
}
#text2 #main-text{
    position: relative;
    margin: 90px;
    width: 600px;
    height: 100px;
}
#text2 #main-text h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    width: 100%;
    text-align: start;
}
#text2 #main-text h4{
    position: absolute;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 400;
    width: 100%;
    text-align: start;
}

/*
    KIDS MOVIE
*/
.textkids h2{
    margin-top: 60px;
}

#download #kids{
    margin-top: 30px;
}


/*
    FOOTER
*/


#footer{
    width: 100%;
    height: 250px;
    position: relative;
    background-color: black;
    border-top: 5px solid gray;
}


/*
    FOOTER DETAILS
*/
#footer #details{
    position: relative;
    height: 100%;
    top: 0;
    width: 200px;
    margin-left: 60px;
    border: none;
}

#footer #details ul{
    position: absolute;
    text-align: left;
    margin-left: 40px;
    margin-top: 10px;
}
#footer #details ul li{
    list-style: none;
    margin-top: 25px;
    font-family:sans-serif;
    color: gray;
    font-size: 13px;
}

#footer #details ul li a{
    text-decoration: none;
    color: gray;
    font-family:sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
}

/*
    CONTACTS
*/

#footer #contacts{
    top: 0;
    position: absolute;
    height: 100%;
    margin-left: 60px;
}

#footer #contacts ul{
    width: 200px;
    position: absolute;
    text-align: left;   
    margin-left: 320px;
    margin-top: 10px;
}
#footer #contacts ul li{
    list-style: none;
    margin-top: 25px;
}

#footer #contacts ul li a{
    text-decoration: none;
    color: gray;
    font-family:sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
}

/*
    ABOUT US
*/


#footer #about{
    top: 0;
    position: absolute;
    height: 100%;
    margin-left: 60px;
}

#footer #about ul{
    width: 200px;
    position: absolute;
    text-align: left;   
    margin-left: 580px;
    margin-top: 10px;
}
#footer #about ul li{
    list-style: none;
    margin-top: 25px;
}

#footer #about ul li a{
    text-decoration: none;
    color: gray;
    font-family:sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
}


#footer #developer{
    position: absolute;
    top: 0;
    right: 0;
    width: 33%;
    margin-top: 130px;
    height: 30px;
    margin-right: 50px;
    display: flex;
    text-align: center;
}

#footer #developer h6{
    position: absolute;
    color: gray;
    letter-spacing: 5px;
    top: 25%;
    width: 100%;
    height: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

